* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: blueviolet;
    color: white;
}

.ins {
    border: 1px solid blue;
    margin-top: 25px;
}

.ins-head {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px 0;
}

.ins p {
    padding: 10px 20px;
}

#comp {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    display: block;
    text-align: center;
}

#xal {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
}

#wins {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
}

#losses {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn button {
    padding: 5px;
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 1229px) {
    .container {
        width: 1000px;
    }
}

@media only screen and (max-width: 1030px) {
    .container {
        width: 800px;
    }
}

@media only screen and (max-width: 827px) {
    .container {
        width: 600px;
    }
}

@media only screen and (max-width: 620px) {
    .container {
        width: 500px;
    }

    button img {
        width: 90px;
    }
}

@media only screen and (max-width: 520px) {
    .container {
        width: 400px;
    }

    button img {
        width: 70px;
    }
}

@media only screen and (max-width: 300px) {
    .container {
        width: 100%;
    }

    button img {
        width: 90px;
    }
}